<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ $contentsSection := .Site.GetPage "/contents" }}
    <li class="{{ if $currentPage.IsHome }}active{{ end }}">
      <a href="{{ $.Site.Home.RelPermalink }}"><span>Home</span></a>
    </li>
    {{ if $contentsSection }}
    {{ range $contentsSection.Pages.ByWeight }}
    <li class="{{ if or (eq $currentPage.RelPermalink .RelPermalink) ($currentPage.IsDescendant .) }}active{{ end }}">
      <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>